body {
	background: #fff;
	color: black;
	font-family: Helvetica, serif;
	font-size: 14px;
	background:url('images/horse.jpg');
	background-size: 100% 100%;
	line-height: 1.2;
	text-align: justify;

}




h1 {
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-size: 4em;
	background: black;
	width: 65%;
    margin-left: auto;
    margin-right: auto;
    }

h2{font-size: 2em;
text-align: left;
color:black;
}


.container {
	background: yellow;
	padding: 15px;
	border: 10px inset red;
	margin: 30px auto;
	width: 95%; float: center;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
    -webkit-column-rule: 1px solid red; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid red; /* Firefox */
    column-rule: 1px solid red;
    }

 

#table-of-contents { 
	list-style: none;
	position:relative;
	top: 25px;
	left: 25px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 21px;
	width: 50%;
	color: black;	
}


#table-of-contents a { 
display: block ; 
display- width: 30 px;
padding: 5px; 
color: black;
text-decoration: none;
}


#table-of-contents a:hover { 
	color: white; 
	background: red;
	text-decoration: none;
}


img
{ max-width: 90%;
	padding-top: 20px;
     
 }

.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.number { text-align: left;
font-style: bold;


}

/* #devote{font-family: Garamond;} */


.custom-counter .number {	
    counter-increment: step-counter;
    margin-bottom: 20px;

}

#point{margin-left: 50px;
}

.custom-counter .number::before {


    content: counter(step-counter);
    margin-right: 5px;
    font-size: 300%;
    color: black;
    font-weight: bold;
    display: inline-block;
	border: solid; 1px;

}

.custom-counter .numbertwo {	
    counter-increment: step-counter;
}

.custom-counter .numbertwo::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 600%;
    color: black;
    font-weight: bold;
}


.custom-counter .numberthree {	
    counter-increment: step-counter;
}

.custom-counter .numberthree::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 100%;
    color: black;
    font-weight: bold;
}


a#back-to-top {
	width: 200px;
	height: 200px;
	background: red;
	border: 2px inset red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	display: block;
	margin: 20px auto;
	text-align: center;
}

a#back-to-top:hover {
	border: 2px inset blue;
	background: blue;
	color: yellow;
}

a#back-to-top span {
	display: block;
	padding-top: 88px;
}


#back-to-top {text-decoration: none;
font-size: 20px;
color: white}



/*- - - dropdown - - - */















